.first {
  text-align: left;
  color: yellow;
  position: absolute;
  top: 0px;
  left: 4px;
}

.second {
  position: absolute;
  top: 4px;
  left: 0px;
  color: lime;
  mix-blend-mode: lighten;
}

.third {
  position: absolute;
  top: -4px;
  left: -4px;
  color: magenta;
  mix-blend-mode: lighten;
}

h1 {
  font-size: calc(6rem + 2vw);
  font-family: 'Permanent Marker', serif;
  #font-family: 'Helvetica', serif;
  margin: 0;
}

div {
  position: relative;
}


body {
    #background-image: radial-gradient(circle, magenta, cyan);
    #background-image: linear-gradient(90deg, cyan, magenta);
}
